apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
  labels:
    app: payment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      nodeSelector:
        role: app
        affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app: payment
            topologyKey: kubernetes.io/hostname
      initContainers:
       - name: wait-for-payment
         image: busybox:1.36
         command:
          - sh
          - -c
          - |
           echo "Waiting for RabbitMQ..."
           until nc -z rabbit-headless 5672 >/dev/null 2>&1; do
           echo "RabbitMQ not ready, retrying..."
           sleep 2
           done
           echo "RabbitMQ is ready!"

      containers:
        - name: payment
          image: robotshop/rs-payment:2.1.0
          ports:
            - containerPort: 80
          env:
            - name: RABBITMQ_HOST
              value: rabbit-headless
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
spec:
  selector:
    app: payment
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30083