apiVersion: apps/v1
kind: Deployment
metadata:
  name: user
  labels:
    app: user
spec:
  replicas: 3
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      nodeSelector:
        node-role: app

      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app: user
            topologyKey: kubernetes.io/hostname
      initContainers:
       - name: wait-for-mysql
         image: busybox:1.36
         command:
          - sh
          - -c
          - |
           echo "Waiting for Mysql..."
           until nc -z mysql-headless 3306 >/dev/null 2>&1; do
           echo "Mysql not ready, retrying..."
           sleep 2
           done
           echo "Mysql is ready!"

      containers:
        - name: user
          image: robotshop/rs-user:2.1.0
          ports:
            - containerPort: 8080
          env:
            - name: MYSQL_HOST
              value: mysql-headless
---
apiVersion: v1
kind: Service
metadata:
  name: user
spec:
  selector:
    app: user
  ports:
    - port: 8080
      targetPort: 8080